venv/
.venv/
data/*
!data/datasets/
data/datasets/*
!data/datasets/example_dataset/
data/datasets/example_dataset/*
!data/datasets/example_dataset/*.npz
!data/modelweights/
data/modelweights/*
!data/modelweights/example_model/
data/modelweights/example_model/*
!data/modelweights/example_model/weights.pth
reports/

.ruff_cache/
*.tar.gz
uv.lock
__pycache__/
*.egg-info/
